/* css for canvas help button */

#help {
    font-family: Arial, sans-serif;
    background:black;
}

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #1c1c1c;
    margin: 20px 0;
}

.box {
    width: 40%;
    background: rgb(23, 23, 23);
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;

}

.button {
    font-size: 1em;
    padding: 10px;
    color: #ffffff;
    /*border: 2px solid #f89069; */
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: #F15B2A;
    font-family: Tahoma, Arial, sans-serif;
}

.button:hover {
    background: #914428;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 200;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 200;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    z-index: 200;
}
.popup .close {
    position: relative;
    top: -57px;
    right: -445px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 200;
}
.popup .close:hover {
    color: #b9472c;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    font-family: Tahoma, Arial, sans-serif;
    z-index: 200;

}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}
