/* CSS */
.button-53 {
    background-color: #ee5919;
    border: 0 solid #E5E7EB;
    border-radius: 25px;
    box-sizing: border-box;
    color: #eeeaea;
    display: flex;
    font-family: "Rammetto One", sans-serif;
    font-size: 1.10vw;
    font-weight: 500;
    justify-content: center;
    line-height: 1.75rem;
    padding-top: 1rem;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 16vw;
    max-width: 460px;
    position: absolute;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    right: 30.0vw;
    top: 68vh;
    height: 9vh;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 2.5px #1e1e1e;
    border-style: solid dashed solid dashed;
    border-radius: 25px;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}