div.container {
    display:inline-block;
    padding:20px;

}

label {
    text-align:center;
    font-weight: bold;
}

canvas {
    text-align:center;
}

input {
    text-align:center;
}

select {
    text-align:center;
}

.transfer-function{
}

.info{
    display: block;
    right: 30px;
    top: 650px;
    position: absolute;
    height: 30px;
    width: 120px;
    padding:10px;
    z-index: 100;
}